@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");

//Primary

$color-bright-blue: hsl(220, 98%, 61%);
$color-check-blue: hsl(192, 100%, 67%);
$color-check-purple: hsl(280, 87%, 65%);

//Light

$color-background: hsl(0, 0%, 98%);
$color-border: hsl(236, 9%, 61%);
$color-text: hsl(235, 19%, 35%);

//Dark

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

html {
  font-size: 62.5%;
}
