.tasks {
  width: 100%;
  padding: 0rem 2rem 2rem;
  margin-top: -3rem;

  @include responsive(tablet) {
    max-width: 74rem;
    margin: -3rem auto;
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 20px 14px -4px var(--color-shadow);
  }

  &__item {
    width: 100%;
    background-color: var(--color-background);
    padding: 0.8rem 2rem;
    border-radius: 0.4rem 0.4rem 0 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-border);

    &--controller {
      padding: 2rem 2rem;
      justify-content: space-between;
      border-bottom: none;
      border-radius: 0.4rem 0.4rem 0.4rem 0.4rem;
    }
  }

  &__control {
    font-size: 1.2rem;
    color: var(--color-border);
  }

  &__check {
    display: none;
  }

  &__label {
    position: relative;
    border: 1px solid var(--color-border);
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 1.5rem;
  }

  &__check:checked + &__label {
    background-image: linear-gradient(
      to right bottom,
      $color-check-blue,
      $color-check-purple
    );
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__check:checked + &__label::after {
    content: "";
    position: absolute;
    background-image: url("/icon-check.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    left: -5%;
    top: 0;
  }

  &__text {
    width: 80%;
    padding: 1.2rem 0 1rem;
    font-size: 1.4rem;
    color: var(--color-text);
    border: none;
    background-color: var(--color-background);
    font-family: inherit;
  }

  &__check:checked ~ &__text {
    text-decoration: line-through;
    color: var(--color-border);
  }

  &__filter {
    list-style: none;
    margin-top: 2rem;
    width: 100%;
    background-color: var(--color-background);
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    padding: 2rem 2rem;
    justify-content: center;
    box-shadow: 0px 4px 5px 2px var(--color-shadow);
  }

  &__filterItem {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--color-border);
    transition: color 0.3s;

    &:hover {
      color: $color-primary;
    }

    &:not(:last-child) {
      margin-right: 2rem;
    }

    &--active {
      color: $color-primary;
    }
  }
}
